
<!DOCTYPE html>
<html>
<head>
    <title>My First Website</title>

    <!-- ✅ CSS loaded correctly -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

   
<h1>Welcome 🎉</h1>

<input id="nameInput" type="text" placeholder="Enter your name">
<br><br>

<button id="submitBtn">Submit</button>

<p id="message"></p>

<br>
<a href="/about">About</a>


    <!-- ✅ JavaScript loaded correctly -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
